<tr>
  <td align="center"><br /><%= link_to user.username, user_path(user) %></td>
  <td align="center"><br /><%= user.win_count.to_i * 3 + user.draw_count.to_i %></td>
  <td align="center"><br />
    <% if user.lose_count.to_i == 0 %>
      ∞
    <% else %>
      <%=  user.win_lose_ratio %>
    <% end %>  
  </td>
  <td align="center"><br /><%= user.win_count %>/<%= user.draw_count %>/<%= user.lose_count %></td>
</tr>