<center>
  <h2>Your Profile</h2>
  <br>
  <table>
    <tr>
      <td align="right">Username: </td>
      <td></td>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <td align="right">Name: </td>
      <td></td>
      <td><%= current_user.first_name %> <%= current_user.last_name %></td>
    </tr>
    <tr>
      <td align="right">Email: </td>
      <td></td>
      <td><%= current_user.email %></td>
    </tr>
  </table>
  <br>
  <br>
  <%= link_to 'Edit Your Login Details', edit_user_registration_path %>
</center>