<center>
  <h2><%=current_user.username %>'s Profile</h2>
  <br>
  <table>
    <tr>
      <td align="right">Name:</td>
      <td align="right"> </td>
      <td align="right"></td>
      <td><%= current_user.first_name %> <%= current_user.last_name %></td>
    </tr>
    <tr>
      <td align="right">Email: </td>
      <td align="right"></td>
      <td align="right"></td>
      <td><%= current_user.email %></td>
    </tr>
  </table>
  <br>
    <h5><%= link_to 'Edit Your Login Details', edit_user_registration_path %></h5>
  <br>
  <table>
    <tr>
      <th colspan="4">Games of Tic Tac Toe</th>
    </tr>
    <tr>
      <td><br />Played: <%= current_user.games.count %></td>
      <td><br />Won: <%= current_user.win_count %></td>
      <td><br />Drawn: <%= current_user.draw_count %></td>
      <td><br />Lost: <%= current_user.lose_count %></td>
    </tr>
  </table>
  <br>
  <br>
  <table>
    <tr>
      <th>Games Played and/or Playing!</th>
    </tr>
    <%= render partial: "forshow" %>
  </table>
</center>