<center>
  <h3>Your Profile</h3>
  <br>
  <div class='mfleft'>
  Username: 
  </div>
  <div class='mfright'>
  <%= current_user.username %>
  </div>
  <br>
  <div class='mfleft'>
  Name: 
  </div>
  <div class='mfright'>
  <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <br>
  <br>
  <div class='mfleft'>
  Email: 
  </div>
  <div class='mfright'>
  <%= current_user.email %>
  </div>
  <br>
  <%= link_to 'Edit Your Login Details', edit_user_registration_path %>
</center>