<center>
  <h1>Gamification Hub</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <br>
  <div id="board">
    <table>
      <tr id="row1">
        <td class="square m"><center>
          <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menubuttons" %><br />
          <strong><%= current_user.username %></strong>
          <% else %>
          <%= link_to 'Login', new_user_session_path, class: "menubuttons" %>
          <% end %>
        </center></td>
        <td class="square v m"><center>
          <% if user_signed_in? %>
            <%= link_to 'Profile', user_path(current_user.id), class: "menubuttons" %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, class: "menubuttons" %>
          <% end %>
        </center></td>
        <td class="square m"><center>
          <%= link_to 'Player List', users_path, class: "menubuttons" %>
        </center></td>
      </tr>
      <tr id="row2">
        <td class="square h m"><center>
          <strong><p>HighScores</p></strong>
        </center></td>
        <td class="square v h m"><center>
          <% if user_signed_in? %>
            <%= link_to "New Game", new_game_path, class: "menubuttons" %>
          <% else %>
            <strong><p>Log In to Start a Game</p></strong>
          <% end %>
        </center></td>
        <td class="square h m"><center>
          <strong><p>Tournaments</p></strong>
        </center></td>
      </tr>
      <tr id="row3">
        <td class="square m"><center>
          <strong><p>BETA GAMES</p></strong>
        </center></td>
        <td class="square v m"><center>
          <%= link_to "Spectate", games_path, class: "menubuttons" %>
        </center></td>
        <td class="square m"><center>
          <strong><p>Settings</p></strong>
        </center></td>
      </tr>
    </table>
  </div>
  <br>
  <p>If there are any fields you cannot select. You either lack permission to view them or they are not implemented yet!</p>
</center>